<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>

    <div class="full-body-container">
        <video autoplay muted loop id="background-video">
            <source src="{{ url_for('static', filename='videos/vid1.mp4') }}" type="video/mp4">
        </video>
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-4">G</h1>
                <h1 id="google-3">A</h1>
                <h1 id="google-0-1">M</h1>
                <h1 id="google-0-2">E</h1>
                <h1 id="google-5">P</h1>
                <h1 id="google-6">I</h1>
                <h1 id="google-7">G</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a type of game you are interested in" id="filter-text-val"
                    onkeypress="handleKeyPress(event)">
            </div>
            <div class="dropdown">
                <button class="dropbtn" onclick=" handleButtonClick()">Choose your Console </button>
                <div class="dropdown-content">
                    <a onclick="handleItemClick('any')">--any--</a>
                    <a onclick="handleItemClick('PSV')">PSV</a>
                    <a onclick="handleItemClick('PS3')">PS3</a>
                    <a onclick="handleItemClick('DS')">DS</a>
                    <a onclick="handleItemClick('PSP')">PSP</a>
                    <a onclick="handleItemClick('SAT')">SAT</a>
                    <a onclick="handleItemClick('SNES')">SNES</a>
                    <a onclick="handleItemClick('PS2')">PS2</a>
                    <a onclick="handleItemClick('NG')">NG</a>
                    <a onclick="handleItemClick('PS')">PS</a>
                    <a onclick="handleItemClick('XB')">XB</a>
                    <a onclick="handleItemClick('DC')">DC</a>
                    <a onclick="handleItemClick('N64')">N64</a>
                    <a onclick="handleItemClick('PC')">PC</a>
                    <a onclick="handleItemClick('SCD')">SCD</a>
                    <a onclick="handleItemClick('X360')">X360</a>
                    <a onclick="handleItemClick('3DS')">3DS</a>
                    <a onclick="handleItemClick('WS')">WS</a>
                    <a onclick="handleItemClick('Wii')">Wii</a>
                    <a onclick="handleItemClick('GC')">GC</a>
                    <a onclick="handleItemClick('NES')">NES</a>
                    <a onclick="handleItemClick('GBA')">GBA</a>
                    <a onclick="handleItemClick('GB')">GB</a>
                    <a onclick="handleItemClick('GEN')">GEN</a>
                    <a onclick="handleItemClick('WiiU')">WiiU</a>
                    <a onclick="handleItemClick('XOne')">XOne</a>
                    <a onclick="handleItemClick('PS4')">PS4</a>
                    <a onclick="handleItemClick('2600')">2600</a>
                    <!-- Add more consoles as needed -->
                </div>
            </div>
        </div>
        <div id="answer-box" class="answer-box-scroll"></div>
        <div id="imageContainer"></div>
    </div>

    <script>


        let backgroundVideo = 'vid2.mp4';
        let selectedConsole = 'any';



        function handleButtonClick() {
            var dropdownContent = document.querySelector(".dropdown-content");
            if (dropdownContent.style.display === "none") {
                dropdownContent.style.display = "block";
            }
            else {
                dropdownContent.style.display = "none";
            }
        }

        function handleItemClick(element) {
            selectedConsole = element;
            var dropdownContent = document.querySelector(".dropdown-content");
            dropdownContent.style.display = "none";
            updateBackgroundVideo();
            filterText();
        }
        function answerBoxTemplate(Game, imgElem, Score, ytlink, review, platforms, reviewScore) {
            let num_stars = Math.floor(reviewScore / 20);

            return `<div class='row'>
        <div class='game-info'>
            ${imgElem ? `<img src="${imgElem.src}" height="${imgElem.height}" width="${imgElem.width}">` : ''}
            <h3 class='game_name'>${Game}</h3>
            <a href=${ytlink} target="_blank" class='game_name'> Link to Youtube trailer</a>
            <p class='score'>Similarity: ${Score * 100}%</p>
            <div class='bar-outer' id='bar-outer-${Game}'>
                <div class='bar-inner' id='bar-inner-${Game}' style='width: ${updateProgressBar(Score, Game)};'></div>
            </div>
        </div>
        <div class='vertical-line'></div>
        <div class='top-review-section'>
                    <div >
                    <span class= ${num_stars >= 1 ? 'checked-star' : 'unchecked-star'} >☆</span >
                    <span class= ${num_stars >= 2 ? 'checked-star' : 'unchecked-star'} >☆</span >
                    <span class= ${num_stars >= 3 ? 'checked-star' : 'unchecked-star'} >☆</span >
                    <span class= ${num_stars >= 4 ? 'checked-star' : 'unchecked-star'} >☆</span >
                    <span class= ${num_stars >= 5 ? 'checked-star' : 'unchecked-star'} >☆</span >
                    
                </div>
                <div class='top-review-bubble'>
                    <span class='bubble-text'>Available Platforms - ${platforms}</span>
                    
                </div>
                
            
            <h5>Top Review</h5>
            <p>${review}.</p>
            </div>
        </div>`;
        }



        function updateBackgroundVideo() {
            const video = document.getElementById('background-video');
            video.pause();
            video.src = "{{ url_for('static', filename='videos/') }}" + backgroundVideo;
            video.load(); // Load the new video source
            video.play(); // Play the new video
            video.playbackRate = 0.7;

        }

        function handleKeyPress(event) {
            if (event.key === 'Enter') {
                updateBackgroundVideo();
                filterText();

            }
        }

        function sendFocus() {

            document.getElementById('filter-text-val').focus();
        }

        async function filterText() {
            document.getElementById("answer-box").innerHTML = "";
            const filterTextValue = document.getElementById("filter-text-val").value;
            const dropdownItems = document.querySelectorAll(".dropdown-content a");
            console.log(filterTextValue);
            const response = await fetch("/episodes?" + new URLSearchParams({
                title: filterTextValue, console: selectedConsole
            }).toString());
            const data = await response.json();
            for (const row of data) {
                const tempDiv = document.createElement("div");
                const imgElem = await appendImageToHTML(row.Game);
                const ytlink = await getFirstYouTubeVideo(row.Game)
                    .then(function (videoLink) {
                        return videoLink;

                    })
                    .catch(function (error) {
                        console.error('Error:', error);
                    });


                tempDiv.innerHTML = answerBoxTemplate(row.Game, imgElem, row.Similarity, ytlink, row.Review, row.Platform,
                    row.Score);
                tempDiv.classList.add("answer-box");
                document.getElementById("answer-box").appendChild(tempDiv);
                tempDiv.setAttribute("id", row.Game);
            }
        }



        async function getImageUrl(searchString) {
            const apiKey = 'AIzaSyDr-V_LFMYf85udfJGWjVdOREweFfyfCVI';
            const searchEngineId = 'b7a44942279fc4788';
            const searchUrl =
                `https://www.googleapis.com/customsearch/v1?key=${apiKey}&cx=${searchEngineId}&q=${encodeURIComponent(searchString)}&searchType=image`;

            try {
                const response = await fetch(searchUrl);
                const data = await response.json();
                if (data.items && data.items.length > 0) {
                    return data.items[0].link;
                } else {
                    return null;
                }
            } catch (error) {
                console.error('Error fetching image:', error);
                return null;
            }
        }

        async function appendImageToHTML(searchString) {


            try {

                const imageUrl = await getImageUrl(searchString);
                const imgElement = document.createElement("img");
                if (imageUrl) {
                    imgElement.src = imageUrl;
                    imgElement.height = 100;


                    return imgElement;

                } else {
                    console.log('No image found for the search string:', searchString);
                }

            } catch (error) {
                console.error('Error appending image to HTML:', error);
            }

        }

        // document.getElementById((searchString)).appendChild(imgElement);

        // JavaScript to update the loading bar
        function updateProgressBar(value, gameName) {
            var progressBar = document.getElementById(("bar-inner-" + gameName));
            return (value * 100) * 2 + 'px';
        }

        async function getFirstYouTubeVideo(query) {
            var apiKey = 'AIzaSyDr-V_LFMYf85udfJGWjVdOREweFfyfCVI';
            var apiUrl = 'https://www.googleapis.com/youtube/v3/search';

            // Parameters for the API request
            var params = {
                part: 'snippet',
                q: (query + "trailer"),
                maxResults: 1,
                type: 'video',
                key: apiKey
            };

            return new Promise(function (resolve, reject) {
                $.getJSON(apiUrl, params, function (data) {
                    if (data.items.length > 0) {
                        var videoId = data.items[0].id.videoId;
                        var videoLink = "https://www.youtube.com/watch?v=" + videoId;
                        resolve(videoLink);
                    } else {
                        reject('No videos found for the query: ' + query);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    reject('Error while fetching videos: ' + errorThrown);
                });
            });
        }

    </script>

</body>

</html>