<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="full-body-container">
        <video autoplay muted loop id="background-video">
            <source src="{{ url_for('static', filename='videos/vid2.mp4') }}" type="video/mp4">
        </video>
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-4">G</h1>
                <h1 id="google-3">A</h1>
                <h1 id="google-0-1">M</h1>
                <h1 id="google-0-2">E</h1>
                <h1 id="google-5">P</h1>
                <h1 id="google-6">I</h1>
                <h1 id="google-7">G</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a type of game you are interested in" id="filter-text-val"
                    onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box"></div>
        <div id="imageContainer"></div>
    </div>

    <script>

        function answerBoxTemplate(Game, Score) {
            return `<div class=''>
                <h3 class='game_name'>${Game} - ${Score}</h3>
                <div id='${Game}' height='50px'></div>
            </div>`
        }

        function sendFocus() {

            document.getElementById('filter-text-val').focus();
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    //console.log(row)
                    tempDiv.innerHTML = answerBoxTemplate(row.Game, row.Similarity)
                    document.getElementById("answer-box").appendChild(tempDiv)
                    console.log("game: " + row.Game)
                    appendImageToHTML(row.Game)
                }));
        }
        


    async function getImageUrl(searchString) {
        const apiKey = 'AIzaSyDr-V_LFMYf85udfJGWjVdOREweFfyfCVI'; 
        const searchEngineId = 'b7a44942279fc4788';
        const searchUrl = `https://www.googleapis.com/customsearch/v1?key=${apiKey}&cx=${searchEngineId}&q=${encodeURIComponent(searchString)}&searchType=image`;

        try {
            const response = await fetch(searchUrl);
            const data = await response.json();
            if (data.items && data.items.length > 0) {
                return data.items[0].link; 
            } else {
                return null; 
            }
        } catch (error) {
            console.error('Error fetching image:', error);
            return null;
        }
    }

    async function appendImageToHTML(searchString) {

        if (document.getElementById((searchString))) {
            try {
                const imageUrl = await getImageUrl(searchString);

                if (imageUrl) {
                    const imgElement = document.createElement("img");
                    
                    imgElement.src = imageUrl;
                    imgElement.height = 100;
                    
                    document.getElementById((searchString)).appendChild(imgElement);
                } else {
                    console.log('No image found for the search string:', searchString);
                }
            } catch (error) {
                console.error('Error appending image to HTML:', error);
            }
        }
    }


    </script>
</body>

</html>
